<div class="stepper">
  <div class="step active">1</div>
  <div class="line"></div>
  <div class="step current">2</div>
  <div class="line"></div>
  <div class="step">3</div>
</div>
<h1 class="titre">Trouvez votre festival</h1>
<div class="search-results">
  <div class="filtre-recherche">
      <div class="input-group" [formGroup]="searchForm">
          <div class="input-wrapper">
              <input type="text" class="form-control" placeholder="Nom..." formControlName="name">
          </div>
          <div class="input-wrapper">
              <input type="text" class="form-control" placeholder="Thème.." formControlName="sousDomaine">
          </div>
          <div class="input-wrapper">
              <input type="date" class="form-control" placeholder="Date.." formControlName="date">
          </div>
          <div class="input-wrapper">
              <input type="text" class="form-control" placeholder="Lieu.." formControlName="lieu">
              <span class="input-icon"><i class="material-icons">location_on</i></span>
          </div>
          <div class="input-wrapper">
            <input type="text" class="form-control" placeholder="Départ.." formControlName="depart">
            <span class="input-icon"><i class="material-icons">location_on</i></span>
        </div>
          <div class="input-wrapper">
            <mat-icon (click)="getFestivalsPData(
              searchForm.controls['name'].value,
              searchForm.controls['date'].value,
              searchForm.controls['lieu'].value,
              searchForm.controls['sousDomaine'].value,
              searchForm.controls['depart'].value, 
              page )">search</mat-icon>
        </div>
      </div>
  </div>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="nomFestival">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nomFestival">
      nomFestival
    </th>
    <td mat-cell *matCellDef="let element"> 
      <a href="element.siteWeb" target="_blank">{{element.nomFestival}}</a>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nomSousDomaine">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nomSousDomaine">
      Thème
    </th>
    <td mat-cell *matCellDef="let element"> {{element.nomSousDomaine}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="dateDebut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dateDebut">
      dateDebut
    </th>
    <td mat-cell *matCellDef="let element"> {{element.dateDebut}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="lieuPrincipal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lieuPrincipal">
      lieuPrincipal
    </th>
    <td mat-cell *matCellDef="let element"> {{element.lieuPrincipal}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="tarif">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tarif">
      tarif
    </th>
    <td mat-cell *matCellDef="let element"> {{element.tarif}}   
     
      <div class="festival-actions">
        <mat-icon (click)="onFestivalClick(element, true, $event)">add_circle_outline</mat-icon>
        <div class="click-count">{{ getClickCount(element) }}</div>
        <mat-icon (click)="onFestivalClick(element, false, $event)">remove_circle_outline</mat-icon>
        <mat-icon (click)="goToSearchCovoit(element)">arrow_forward</mat-icon>
      </div>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  <div class="pagination">
    <button (click)="onPageChange(false)" [disabled]="page === 1">Previous</button>
    <span>{{ page }}</span>
    <button (click)="onPageChange(true)">Next</button>
  </div>
