<header>
    <a routerLink="/">
        <img class="logo" src="../../../../assets/logo/festicar-logo-white.png">
    </a>
    <nav>
        <ng-container *ngIf="currentUser.name; else loginLink">
            <div class="user-info">
                <img [src]="currentUser.photoURL" class="user-photo">
                <span class="user-name">Bienvenue, {{ currentUser.name.toUpperCase() }} !</span>
                <a (click)="confirmLogout()" class="nav-link">
                    <mat-icon>logout</mat-icon>
                    Déconnexion
                </a>
            </div>
        </ng-container>
        <ng-template #loginLink>
            <a routerLink="/login">
                <mat-icon>account_circle</mat-icon>
                Connexion
            </a>
        </ng-template>

        <a routerLink="/cart">
            <mat-icon>shopping_cart</mat-icon>
            Panier
        </a>
    </nav>
</header>