:root{
    --naples-yellow: #f1ce53ff;
    --pistachio: #9ed186ff;
    --emerald: #74d29fff;
    --turquoise: #4ad3b8ff;
    --viridian: #007f5fff;
    --header-box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);

    $gradient-top: linear-gradient(0deg, #f1ce53ff, #9ed186ff, #74d29fff, #4ad3b8ff, #007f5fff);
    $gradient-right: linear-gradient(90deg, #f1ce53ff, #9ed186ff, #74d29fff, #4ad3b8ff, #007f5fff);
    $gradient-bottom: linear-gradient(180deg, #f1ce53ff, #9ed186ff, #74d29fff, #4ad3b8ff, #007f5fff);
    $gradient-left: linear-gradient(270deg, #f1ce53ff, #9ed186ff, #74d29fff, #4ad3b8ff, #007f5fff);
    $gradient-top-right: linear-gradient(45deg, #f1ce53ff, #9ed186ff, #74d29fff, #4ad3b8ff, #007f5fff);
    $gradient-bottom-right: linear-gradient(135deg, #f1ce53ff, #9ed186ff, #74d29fff, #4ad3b8ff, #007f5fff);
    $gradient-top-left: linear-gradient(225deg, #f1ce53ff, #9ed186ff, #74d29fff, #4ad3b8ff, #007f5fff);
    $gradient-bottom-left: linear-gradient(315deg, #f1ce53ff, #9ed186ff, #74d29fff, #4ad3b8ff, #007f5fff);
    $gradient-radial: radial-gradient(#f1ce53ff, #9ed186ff, #74d29fff, #4ad3b8ff, #007f5fff);

    $font-text: 'Arial', sans-serif;
    $font-title: 'Open Sans', sans-serif;
    $font-size-standard: 11pt * 1.3333;
}