<div class="form">
    <ul class="tab-group">
        <li [ngClass]="{ 'active': activeTab === 'signup' }" class="tab">
            <a (click)="setActiveTab('signup')">Sign Up</a>
        </li>
        <li [ngClass]="{ 'active': activeTab === 'login' }" class="tab">
            <a (click)="setActiveTab('login')">Log In</a>
        </li>
    </ul>

    <div class="tab-content">
        <div [ngStyle]="{ 'display': activeTab === 'signup' ? 'block' : 'none' }" id="signup">
            <h1>Inscription</h1>

            <form action="/" method="post">
                <div class="top-row">
                    <div class="field-wrap">
                        <label>
                            Prénom<span class="req">*</span>
                        </label>
                        <input autocomplete="off" disabled name="signUpFirstName" required
                               type="text"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Nom<span class="req">*</span>
                        </label>
                        <input autocomplete="off" disabled name="signUpLastName" required
                               type="text"/>
                    </div>
                </div>

                <div class="field-wrap">
                    <label>
                        Adresse Mail<span class="req">*</span>
                    </label>
                    <input autocomplete="off" disabled name="signUpEmail" required type="email"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Mot de passe<span class="req">*</span>
                    </label>
                    <input autocomplete="off" disabled name="signUpPassword" required
                           type="password"/>
                </div>

                <button class="button button-block" disabled type="submit">M'inscrire</button>
                <button (click)="signInWithGoogle()" class="button button-block google">
                    <img src="../../assets/logo/google-logo.png"/>
                    Google
                </button>
            </form>
        </div>

        <div [ngStyle]="{ 'display': activeTab === 'login' ? 'block' : 'none' }" id="login">
            <h1>Connexion</h1>

            <form action="/" method="post">
                <div class="field-wrap">
                    <label>
                        Adresse Mail<span class="req">*</span>
                    </label>
                    <input autocomplete="off" disabled name="loginEmail" required type="email"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Mot de passe<span class="req">*</span>
                    </label>
                    <input autocomplete="off" disabled name="loginPassword" required
                           type="password"/>
                </div>

                <button class="button button-block" disabled>Me Connecter</button>
                <button (click)="signInWithGoogle()" class="button button-block google">
                    <img src="../../assets/logo/google-logo.png"/>
                    Google
                </button>
            </form>
        </div>
    </div>
</div>

