/* You can add global styles to this file, and also import other style files */
@import 'assets/css/theme.css';

* {
    margin: 0;
    font-family: var(--font-text);
}


h1, h2, h3 {
    font-family: var(--font-title);
}

.custom-modalbox mat-dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 300px;
    height: 200px;
}


