<div class="banner">
    <h1>Découvrez votre aventure festiCar</h1>
    <div class="search-box">
        <div [formGroup]="searchForm" class="input-group">
            <div class="input-wrapper">
                <input class="form-control" formControlName="nomFestival" placeholder="Nom..." type="text">
            </div>
            <div class="input-wrapper">
                <input class="form-control" formControlName="nomSousDomaine" placeholder="Thème.." type="text">
            </div>
            <div class="input-wrapper">
                <input class="form-control" formControlName="date" placeholder="Date.." type="date">
            </div>
            <div class="input-wrapper">
                <input class="form-control" formControlName="lieu" placeholder="Lieu.." type="text">
                <span class="input-icon"><i class="material-icons">location_on</i></span>
            </div>
            <div class="input-wrapper">
                <input class="form-control" formControlName="depart" placeholder="Départ.." type="text">
                <span class="input-icon"><i class="material-icons">location_on</i></span>
            </div>
        </div>
        <div class="btn-wrapper">
            <button (click)="goToSearchFest()" [disabled]="isTrouverFestivalDisabled()" class="btn btn-primary">Trouver
                un
                festival
            </button>
            <button (click)="goToSearchFest()" [disabled]="isTousFestivalsDisabled()" class="btn btn-primary">Trouver
                tous les festivals
            </button>
        </div>

    </div>
</div>